# =========================
# Vivado Generated Junk
# =========================

*.cache
*.gen
*.runs
*.hw
*.ip_user_files
*.jou
*.log
*.str
*.tmp
*.backup
.Xil

# Ignore simulation junk only
*.wdb
*.vcd

# Ignore bitstreams
*.bit
*.bin

# Python
__pycache__/
*.pyc
