# =====================================
# Vivado Generated Folders
# =====================================

vivado/**/*.cache/
vivado/**/*.gen/
vivado/**/*.runs/
vivado/**/*.hw/
vivado/**/*.ip_user_files/
vivado/**/*.sim/

# =====================================
# Vivado Logs & Temporary Files
# =====================================

*.jou
*.log
*.str
*.tmp
*.backup

.Xil/
**/.Xil/

# =====================================
# Vivado Reports & Checkpoints
# =====================================

*.dcp
*.rpt
*.pb
*.pbx

# =====================================
# Simulation Files
# =====================================

*.wdb
*.vcd

xsim.dir/
**/xsim.dir/

# =====================================
# Python
# =====================================

__pycache__/
*.pyc

# =====================================
# Local Backup Folders
# =====================================

*_backup/
backup/

# =====================================
# Ignore Generated Bitstreams by Default
# =====================================

*.bit
*.bin
*.hwh

# =====================================
# KEEP RELEASED FPGA OUTPUTS
# =====================================

!Bitstreamfiles/
!Bitstreamfiles/*.bit
!Bitstreamfiles/*.hwh

# =====================================
# KEEP IMPORTANT VIVADO PROJECT FILES
# =====================================

# DO NOT IGNORE:
# *.xpr
# *.srcs/
# *.bd
# *.bda
# *.xci
# *.xdc
# *.v
# *.sv
